html,
body {
    height: 100%;
}

.link {
    color: white;
    text-decoration: none;
    max-width: fit-content;
    padding-inline: 5px;
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
}

.link--content {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
}

.link:hover,
.link:focus {
    cursor: pointer;
    color: #e2e8f0b2;
}

.experience__item:hover,
.project:hover {
    background-color: rgba(30, 41, 59, 0.5);
}

li.experience__skill {
    padding-inline: 0.65rem;
    padding-block: 0.35rem;
    background-color: #134e4a;
    border-radius: 12px;
    font-size: 0.875rem;
}

#experience,
#about,
#projects {
    scroll-margin-top: 6rem;
}

.project > *:first-child {
    padding: 0;
}

img.thumbnail {
    border: 1px solid rgb(94 234 212);
}

@media (max-width: 1000px) {
    body {
        padding-inline: 5vw;
    }
    .col:first-child {
        position: static !important;
    }
    .socials {
        margin-top: 2rem;
    }
}

@media (max-width: 1000px) {
    .ratio-16x9 {
        aspect-ratio: 2/3;
    }
}
